html,
body {
    margin: 0;
    padding 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 300px;
    background-image: url(https://i.imgur.com/pOTzBTq.jpg);
    background-size: 100% 100%;
    align-items: flex-end;

}

.social {
    display: none;
}

header nav {
    display: flex;
    color: white;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 1000;
    flex-direction: column;
    align-items: flex-end;

}

header nav #logo {
    margin-left: 20px;
    text-decoration: none;
    flex-grow: 1;
    color: white;
    display: none;
}

header nav label {
    margin-top: 15px;
    margin-right: 15px;

}

#toggle {
    display: none;
}

#menu {
    flex-grow: 5;
    width: 100%;
    max-height: 0px;
    background-color: black;
    overflow: hidden;
}

#toggle:checked + #menu {
    text-align: center;
    min-height: 177px;
    overflow: visible;

}


header nav ul {
    padding: 0;
    height: 150px;
    overflow: hidden;

}

figure {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

}

header nav ul li {
    padding: 10px;
    list-style: none;
    border: 1px solid black;
}

header nav ul li:hover {
    background-color: white;
}

header nav ul li:hover a {
    color: black;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav .searchBox {
    display: none;
}

.center {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.center .articleSide article {
    margin-left: 20px;
    margin-right: 20px;
}

.center .rightSide {
    flex-grow: 1;
    border: 1px solid black;
    display: none;
}

.center .rightSide article ul li {
    list-style: square;
}

.center .rightSide article ul li a {
    text-decoration: none;
}

.otherSites {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
}

.contact {
    padding-top: 5px;
}

footer .contact p {
    margin-top: 10px;
}

@media only screen and (min-width: 770px) {
    header nav {
        align-items: center;
        flex-direction: row-reverse;

    }

    header nav #logo {
        display: flex;
        margin-right: 20px;
    }

    header nav label {
        display: none;

    }

    #menu {
        max-height: 50px;
        overflow: visible;
        margin: 0;
    }


    header nav ul {
        display: flex;
        height: 50px;

    }
    header nav ul li {
        flex-direction: row;
        padding: 14px;
    }
    .center .articleSide article h3 {
        text-align: center;
    }
    .center .articleSide {
        flex-grow: 1;
    }
    /*    */
    .center .articleSide article {
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
        display: inline-block;
    }
    .center .articleSide article figure img {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .center .articleSide article figure img {
        float: right
    }
    .center {
        display: flex;
        flex-wrap: nowrap;
    }
    .center .rightSide {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .center .rightSide .authorInfo p {
        margin-left: 10px;
        margin-right: 10px;
    }
    .center .rightSide .authorInfo {
        margin-top: 50px;
        border-bottom: 1px dotted black;
    }
    .center .rightSide article {
        display: inline-block;
        padding-bottom: 50px;
        border-bottom: 1px dotted black;
    }
    .center .rightSide article:first-child {
        margin-top: 50px;
    }
    article ul {
        padding-left: 60px;
        padding-right: 40px;
    }
    article ul li p {
        margin: 0;
    }
    .social {
        align-items: center;
        flex-direction: row;
        display: flex;
        margin-right: 20px;
        margin-top: 10px;
    }
    .social a {
        margin-right: 10px;
    }
    header nav .searchBox {
        display: flex;
        margin-right: 20px;
    }
    .otherSites {
        text-align: center;
    }
}
